/* * Definindo propriedades do body */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* * Definindo background-image  */
#intro {
  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* * Definindo margin para o avatar image */
#avatar {
  padding-bottom: 56px;
}

/* * Estilizando os botões */
#info {
  display: grid;
  place-items: center;
  padding: 150px 0px 57px;

  h2 {
    font: var(--subtitle);
    color: var(--gray-500);
    padding-bottom: 8px;
  }

  span {
    color: var(--red);
  }

  h1 {
    font: var(--title-lg);
    color: var(--gray-600);
    padding-bottom: 20px;
    margin: 0;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-400);
    width: 680px;
    margin-left: 25px;
    padding-bottom: 80px;
  }
}

#icons {
  display: flex;
  width: 754px;
  gap: 16px;
  font: var(--text-md);
  color: var(--gray-500);
}

.git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.css {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.js {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.react {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.node-js {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

/* * Estilizando a setinha para baixo */
#caret {
  padding-top: 94px;
  justify-self: center;
}

/* * Estilizando a section projects */
#projects {
  width: 100%;
  max-height: 917px;
  background-color: var(--gray-200);
  padding: 72px 20px 144px;
  border: 3px solid black;
  box-sizing: border-box;

  span {
    color: var(--red);
    font: var(--subtitle);
    justify-self: center;
    gap: 8px;
  }

  h2 {
    color: var(--gray-600);
    font: var(--title-md);
    margin: 0;
  }

  header {
    display: grid;
    justify-content: center;
    padding-bottom: 56px;
  }
}

/* * Alinhando e estilizando os projetos */
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  width: 1040px;
  height: 584px;
  justify-self: center;
  gap: 24px;
}

.project {
  display: grid;
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  width: 330px;
  height: 280px;
  background: var(--gray-300);
  border-radius: 12px;

  img {
    width: 100%;
    max-width: 306px;
    height: 156px;
    border-radius: 8px;
  }

  h3 {
    font: var(--title-sm);
    color: var(--gray-600);
    align-self: stretch;
    margin: 0;
    padding-top: 24px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
    margin-top: 8px;
  }
}

/* * Definindo o background da section */
#services {
  background-color: var(--gray-100);
  height: 480px;
  box-sizing: border-box;
}

/* * definindo cores e fonts e alinhando ao centro */
#services header {
  justify-items: center;
  padding-top: 88px;

  span {
    color: var(--red);
    font: var(--subtitle);
  }

  h3 {
    color: var(--gray-600);
    font: var(--title-md);
    gap: 56px;
    margin: 0;
    padding-top: 8px;
  }
}

/* * Estilizando a grade com grid */
#services main {
  display: grid;
  max-height: 155px;
  padding-top: 56px;
  justify-self: center;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 280px);
  gap: 24px;
  grid-template-rows: repeat(2, 1fr);
}

/* * Estilizando os cards */
.card {
  box-sizing: border-box;
  width: 280px;
  height: 100%;
  border: 3px solid var(--gray-200);
  border-radius: 12px;
  padding: 20px;

  h3 {
    color: var(--gray-600);
    font: var(--title-sm);
    margin: 0;
    padding-top: 20px;
    gap: 8px;
  }

  p {
    color: var(--gray-500);
    font: var(--text-sm);
    margin: 0;
    padding-top: 8px;

  }
}

/* * Estilizando a #contact */
#contact {
  background-image: url(../assets/images/Background_Contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 128px 120px 200px;

  header {
    margin-bottom: 48px;
    justify-items: center;

    p {
      color: var(--purple);
      font: var(--subtitle);
      margin: 8px;
    }

    h3 {
      color: var(--gray-600);
      font: var(--title-md);
      margin: 8px;
    }

    span {
      color: var(--gray-500);
      font: var(--text-md);
    }
  }
}

/* * Estilizando a #Links*/
#links {
  justify-items: center;
  box-sizing: border-box;
  #logo {
    width: 28px;
    height: 28px;
    align-self: center;
    padding-left: 20px;
  }

  p {
    color: var(--gray-500);
    font: var(--text-md);
    align-self: center;
    width: 288px;
  }

  span {
    align-self: center;
  }
}

/* * Estilizando as divs de #links */
#links > div {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  height: 68px;
  width: 400px;
  border-radius: 8px;
  background-color: var(--gray-300);
  margin-bottom: 16px;

}