/* * Definindo propriedades do body */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

/* * Definindo propriedades para o background-image */
body::before {
  content: "";
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* * Definindo margin para o avatar image */
#avatar {
  margin-bottom: 56px;
}

/* * Estilizando os botões */
#info {
  display: grid;
  place-items: center;
  padding: 120px 163px 183px;

  h2 {
    font: var(--subtitle);
    color: var(--gray-500);
    padding-bottom: 8px;
  }

  span {
    color: var(--red);
  }

  h1 {
    font: var(--title-lg);
    color: var(--gray-600);
    padding-bottom: 20px;
    margin: 0;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-400);
    width: 680px;
    margin-left: 25px;
    padding-bottom: 80px;
  }
}

#icons {
  display: flex;
  width: 754px;
  gap: 16px;
  font: var(--text-md);
  color: var(--gray-500);
}

.git {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.css {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.js {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.react {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

.node-js {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 138px;
  height: 40px;
  gap: 8px;
  background-color: var(--gray-300);
  border-radius: 999px;
}

/* * Estilizando a setinha para baixo */
#caret {
  padding-top: 94px;
  justify-self: center;
}

/* * Estilizando a section projects */
#projects {
  width: 100%;
  height: 100%;
  background-color: var(--gray-200);
  padding: 72px 20px 144px;

  span {
    color: var(--red);
    font: var(--subtitle);
    justify-self: center;
    gap: 8px;
  }

  h2 {
    color: var(--gray-600);
    font: var(--title-md);
    margin: 0;
  }

  header {
    display: grid;
    justify-content: center;
    padding-bottom: 56px;
  }
}

/* * Alinhando e estilizando os projetos */
#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  width: 1040px;
  height: 584px;
  justify-self: center;
  gap: 24px;
}

.project {
  display: grid;
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  width: 330px;
  height: 280px;

  background: var(--gray-300);
  border-radius: 12px;

  img {
    width: 100%;
    max-width: 306px;
    height: 156px;
    border-radius: 8px;
  }

  h3 {
    font: var(--title-sm);
    color: var(--gray-600);
    align-self: stretch;
    margin: 0;
    padding-top: 24px;
  }

  p {
    font: var(--text-sm);
    color: var(--gray-500);
    margin-top: 8px;
  }
}